*{
    margin:0;
    padding:0;
}

body
{
    display:flex;
}
#side_menu
{
    width:20vw;
    /* height:100vh; */
    position:static;
    border: 1px black solid;
}
#side_menu ul
{
    margin: 20% 5%;
    width: 80%;
    list-style-type: none;
}
#side_menu ul li
{
    margin: 10% 0;
}
#side_menu ul li
{
    text-decoration: none;
}
header
{
    width:80vw;
    height: 10vh;
    border:1px black solid;
}
header p
{
    width: fit-content;
    float: right;
    padding: 3%;
}
header img
{
    float:right;
    width:4vw;
    height:7vh;
    padding:1%
}
button
{
    width:15%;
    height:12%;
    float:right;
}
#artisan_pool
{
    width:80vw;
    float:right;
}
#form
{
    width:100%;
    height:60%;
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: aqua;
    overflow:scroll;
}
#form form
{
    width:80%;
    height:60%;
    border:1px black solid;
    border-radius:5px;
}
#form form div
{
  margin: 3%;
  text-align: left;
  display:flex;
  flex-direction: column;
}
#form form div input
{
  width:80%;
}
#form form div textarea
{
    width:80%;
}
#admin_portal_body
{
    height: 90vh;
    width:100%;
    overflow: scroll;
}